/* Using variables to allow user interaction to change the values through Javascript */

:root {

  /* Variables for swaying tree */ 
  --skew-amount: 0.2deg;
  --skew-back-amount: -0.2deg;

  /* Variables for animating rain and rotating it when wind is applied */
  --rotate-rain-amount: 0deg;
  --rain-opacity: None;

  /* Adjustable fall speed for snow falling slower */
  --fall-speed: 0.5s;

  /* Brightness to adjust day and night options */
  --brightness: 100%;

}

/* Calling animations for all the plants with different times for swaying */
#tree {
  animation: plantanimation 3s infinite;
  position: absolute;
  top: -3%;
  left: 7%;
  width: 30vw;
  z-index: 4;
}

/* Animation that will sway the top of plants back and forth */
@keyframes plantanimation {
  0% {
    transform-origin: bottom;
    transform: skew(var(--skew-back-amount));
  }
  50% {
    transform-origin: bottom;
    transform: skew(var(--skew-amount));
  }
  100% {
    transform-origin: bottom;
    transform: skew(var(--skew-back-amount));
  }
}

/* Animation will translate precipitation (snow/rain) down with adjustable fall speeds */
#precip {animation: drop var(--fall-speed) linear infinite;}

@keyframes drop {
  0% {
    opacity: 0.4;
    transform: translateY(0vh);
  }
  100% {
    opacity: 1;
    transform: translateY(100vh);
  }
}

/* Precipitation set to opacity 0 so that non-moving sprites are not seen */
/* Can be hidden as well with --rain-opacity and rotations are made using a variable as well */
#precip {
  opacity: 0;
  display: var(--rain-opacity);
  
  rotate: var(--rotate-rain-amount);
}

/* Background colour is set and grid is made to seperate the scenery and the controls */
/* Brightness applied to the entire screen when day or night is selected */
#screen {
  background-image: linear-gradient(white, cyan);
  display: grid;
  grid-template-columns: 80% 20%;

  filter: brightness(var(--brightness));
}

/* Scenery is positioned with height and width. */
/* Overflow hidden to stop precipitation from extending the scene */
#scene {
  position: relative;
  height: 100vh;
  width: 80vw;
  overflow: hidden;
}

/* Sky and other scenery elements set to absolute position to allow overlap */

/* Sky z-index 1 (back) and same width as the scene */
#sky {
  position: absolute;
  z-index: 1;
  width: 85vw;
}

/* Hill in front of sky (z-index 2) and shifted up a bit */
#hill {
  position: absolute;
  z-index: 2;
  width: 85vw;
  transform: translateY(-8vh);
}

/* Precipitation container set in front of everything and with a wider width to fill screen when rotated */ 
.precipitation {
  position: absolute;
  z-index: 100;
  width: 120%;
}

/* Inputs aligned left with a set height */
/* No bullet points */
#inputs {
  padding-left: 20%;
  text-align: left;

  height: 96vh;

  list-style-type: none;
}


